.header {
	background: linear-gradient(to right, #0C49D5 0%, #06266F 100%);
	padding: 8px 0;

	&__logo {
		margin-left: 10px;

		img {
			height: 54px;
			width: auto;
		}
	}

	&__row {
		display: flex;
		align-items: center;
	}

	&__link-text {
		display: none;

		@media (min-width: $mobile-size) {
			margin-right: auto;
			margin-left: 20px;
			color: inherit;
			display: block;
			font-size: 20px;
		}
	}
}
