.nav {
    display: none;

    &__list {
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        & + & {
            margin-left: 28px;
        }

        a {
            color: inherit;

            font-size: 24px;
        }
    }

    @media (min-width: $tablet-size) {
        display: block;
	}
}